{% extends 'base.html.twig' %}

{% block title %}Panier
{% endblock %}

{% block body %}
	{# https://sharemycode.fr/6hj  #}
	{% if panier.lignePaniers | length == 0 %}
		Panier est vide !
	{% else %}
		<table class="table">
			<thead>
				<tr>
					<th>Produit</th>
					<th>Prix Unitaire</th>
					<th>Quantité</th>
					<th>Prix Total</th>
				</tr>
			</thead>
			<tbody>
				{% for ligne in panier.lignePaniers %}
					<tr>
						<td>{{ligne.produit.nom}}</td>
						<td>{{ligne.produit.prix}}</td>
						<td><input type="number" min="0" class="qteProduit" value="{{ligne.quantite}}" data-id="{{ligne.produit.id}}" data-prix="{{ligne.produit.prix}}"/></td>
						<td class="prixTotal">{{ligne.produit.prix*ligne.quantite}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<script src="{{asset('js/script.js')}}"></script>
	{% endif %}

{% endblock %}
