{% extends 'base.html.twig' %}

{% block title %}Liste des personnes
{% endblock %}

{% block body %}
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>nom complet</th>
				<th>Adresse</th>
				<th>Sports</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for p in personnes %}
				<tr>
					<td>{{p.id}}</td>
					<td>{{p.nom}}</td>
					<td>{{p.prenom}}</td>
					<td>{{p.nomComplet}}</td>
					<td>
						{% if p.adresse is not null %}
							{{p.adresse.rue ~ " " ~ p.adresse.codePostal ~ "-" ~ p.adresse.ville}}
						{% else %}
							-
						{% endif %}
					</td>
					<td>
						<ul>
							{% for sport in p.sports %}
								<li>{{sport.nom}}</li>
							{% endfor %}
						</ul>
					</td>
					<td>
						{# <a href="{{ path( 'personne_afficher', {'id': p.id} ) }}" class="btn btn-primary">Afficher</a> #}
						{# <a href="#" class="btn btn-warning">Modifier</a> #}
							<button data-href="{{ path('personne_delete', {'id': p.id })}}" class="btn btn-danger deleteBtn"> Supprimer</button>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<script src="{{asset('js/script.js')}}"></script>
{% endblock %}
